
body{
    background-color: white;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    background-image: url(/img/pngtree-rock-paper-scissors-playing-rope-png-image_2489728.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}
.hidden{
    display: none;
}


.highContainer{
    text-align: center;
}

.highContainer__title{
    width: 250px;
    margin: 40px auto;
}


.container{
    width: 95vw;
    margin: 30px auto;
    text-align: center;
    
}

.containerTitle{
    margin: 0;
}

.bttnsStyle{
   
    font-size: 1.3rem;
    margin: 15px auto;
    padding: 10px 15px;
    
    
    border: 1px solid ;
    border-radius: 18px;

    
}

.bttnsStyle:hover{
    cursor: pointer;
    
}

.bttnsStylefocus{
    transform: translateY(6px);
       
}

.bttnsStyle--reset:active{
    transform: translateY(6px);
    
}

.pc{
    padding: 15px 10px;
    width: 100px;
    margin: 30px auto;
    height: 25px;
    line-height: 28px;

    
    border: 1px solid #000;
    border-radius: 20px;
}

.resetContainer{
    text-align: center;
}
i{
    font-size: 1rem;
    opacity: 0.8;
}


.container--result{
    margin-bottom: 20px;
}

.lowContainer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2%;
    text-align: center;
}

.lowContainer__title a{
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

@media (min-width: 800px) {
    .highContainer__title{
    width: 480px;
    margin: 40px auto;
    }
    .flex{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .bttnsContainer{
        margin-top: 19px;
    }

    .container--result{
        width: 300px;
        margin-top: 30px;
        padding: 10px;
        font-size: 3rem;
        
        text-decoration: underline;
    }
}